.button {
    margin: 5px;
    padding: 25px 60px;
    border-radius: 3em;
    background-color: rgb(141, 187, 34);
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
}
