.menu {
    display: flex;
    list-style: none;
}

.menu-link-bullet {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-link {
    color: rgb(141, 187, 34);
    text-decoration: none;
}
