.App-Calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 5em;
    border-radius: 1em;
    background-color: #222222;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.label {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(141, 187, 34);
}

.currency-selectors {
    display: flex;
    margin-bottom: 1em;
}

.currency-selectors .currency-two {
    margin-left: 1em;
}

.result-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em;
    border-radius: 2.5em;
    border: 2px solid rgb(141, 187, 34);
}

.result-container .result-amount {
    font-size: 20px;
    margin-left: 0.5em;
}
