.App {
  text-align: center;
  background-color: #1a1a1a;
  color: #ffffff;
  height: 100vh;
}

.App-Calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  padding: 50px;
}
